name: docker-image

on:
  workflow_dispatch:
    inputs:
      skopeo_version:
        description: 'Skopeo version to build'
        required: true
        default: 'v1.21.0'
    
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set version from input
        run: |
          echo "VERSION=${{ github.event.inputs.skopeo_version }}" >> $GITHUB_ENV
          echo "Building Skopeo version: $VERSION"
          
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push multi-platform image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            zhiqiangwang/skopeo:${{ env.VERSION }}
            zhiqiangwang/skopeo:latest
          build-args: |
            SKOPEO_VERSION=${{ env.VERSION }}